#app-container {
  width: 100%;
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  height: 100%;

}

#app-header {
  color: white;
  background: #4286f4;
  padding:15px;
  width:100%;
  display: "block"
}

#app-footer {
  color: white;
  background: #4286f4;
  padding:15px;
  width:100%;

}

#app-content {
  width: 100%;
  min-height: 100%;
  padding: 20px;
  padding-bottom: 50px;
};
